
.booking-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #ffdde1, #a18cd1, #fbc2eb);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}


@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.booking-container {
  width: 50%;
  max-width: 350px; 
  padding: 30px;
  background: rgba(147, 121, 221, 0.7); 
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1;
}


.booking-container h2 {
  font-size: 26px;
  color: #fbc2eb; 
  margin-bottom: 20px;
}


.booking-form {
  display: flex;
  flex-direction: column;
}


.form-field {
  margin-bottom: 20px;
  text-align: left;
}

.form-field label {
  font-size: 16px;
  color: #fff; 
  display: block;
  margin-bottom: 8px;
}

.form-field input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}


.submit-btn {
  padding: 15px;
  font-size: 18px;
  color: white;
  background: linear-gradient(90deg, #ff758c, #ff7eb3);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.submit-btn:hover {
  background: linear-gradient(90deg, #ff7eb3, #ff758c);
  transform: scale(1.05);
}
