
.home {
  position: relative;
  height: 100vh; 
  width: 100%;   
  background-image: url('https://wallpapercave.com/wp/wp4782910.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  padding: 0;
  overflow: hidden;       
}


.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}


.welcome-address {
  position: relative;
  text-align: center;
  max-width: 600px;  
  z-index: 2; 
  padding: 20px;
}


.welcome-address h1 {
  font-size: 3rem;  
  font-weight: bold;
  color: #f7efec; 
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.9); 
  margin: 0;
}


.welcome-address p {
  font-size: 1.8rem; 
  color: white;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9); 
  margin-top: 10px;
}
